#Footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(17, 16, 16);
    margin-top: 5vw;
}

#copyright{
    color: rgb(242, 84, 91);
    font-size: 0.5vw;
}

#footer-icons{
    display: flex;
    gap: 2vw;
    padding-top: 2.5vw;
    padding-bottom: 1vw;
    
}
.footer-icon{
    width:32px; height:32px;
    
    transition: 0.25s;
    
}


.footer-icon:hover{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#jump{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2vw;
    height: max-content;
    background-color: rgb(242, 84, 91);
    padding: 0.35vw;
    padding-left: 0.25vw;
    padding-right: 0.25vw;
    position: relative;
    top: 1vw;
    cursor: pointer;
}

#jump:hover{
    animation: bounce 0.5s ease-in infinite alternate-reverse;
}


@keyframes bounce {
    from{
        top: 1.5vw;
    }
    to{
        top: 1vw;
    }
}